.inn {
  width: 50px;
  height: 9px;
  border-radius: 12px;
  background-color: snow;
}

* {
  user-select: none;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-align: inherit;
}
