.inn {
    // position: relative;
    // top: -14px;
    width: 50px;
    height: 9px;
    border-radius: 12px;
    background-color: snow;
  }

  * {
    user-select: none;
    font-family: 'Poppins';
  }