.btn{
    padding: 5px 12px;
    background-color: $btn;
    border: none;
    a{
        color: $primary;
        font-size: 14px;
        font-family: 'Poppins';
        font-weight: normal;
    }
}