.btn{
    padding: 5px 12px;
    background-color: $btn;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    a{
        color: $primary;
        font-size: 14px;
        font-family: 'Poppins';
        font-weight: normal;
    }
}

@media screen and (max-width:320px) {
    .btn{
        a{
            font-size: 10px;
        }
    }
    
}

@media screen and (max-width:480px) {
    .btn{
        a{
            font-size: 12px;
        }
    }
    
}