$Btn: red;
$whi:white;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300;1,500&display=swap');


body{
background-image:url(https://images-wixmp-530a50041672c69d335ba4cf.wixmp.com/templates/image/70a76220135e4ecfbb8baa11220ea5b0.jpg);
height: 100vh;
width: 100vw;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}