@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  -webkit-transition: all ease-in-out 2s;
  transition: all ease-in-out 2s;
}

body {
  background-color: rgba(211, 205, 205, 0.596);
}

.imageSlider {
  margin: 5rem 19rem;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.imageSlider .display-right {
  background-color: black;
  color: white;
  border-radius: 4px;
  position: absolute;
  left: 68%;
}

.imageSlider .display-left {
  position: absolute;
  left: 28.6%;
  border-radius: 4px;
  background-color: black;
  color: white;
}

.imageSlider .slides {
  width: 100%;
  height: 100%;
}

.imageSlider .slides img {
  height: 100%;
  width: 100%;
}

.imageSlider .slides .center-text {
  padding: 10px;
  width: 40%;
  text-align: center;
  position: relative;
  bottom: 50px;
  left: 30%;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-family: 'Poppins';
  font-size: 14px;
}

.btn {
  padding: 5px 12px;
  background-color: red;
  border: none;
  cursor: pointer;
}

.btn a {
  color: white;
  font-size: 14px;
  font-family: 'Poppins';
  font-weight: normal;
}

@media screen and (max-width: 320px) {
  .btn a {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  .btn a {
    font-size: 12px;
  }
}

html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 3rem;
  width: 100%;
  background-color: white;
}

header .logo {
  -webkit-animation: zoom-in-zoom-out 3s infinite ease-in;
          animation: zoom-in-zoom-out 3s infinite ease-in;
}

header .logo h1 {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 12px;
}

header nav {
  width: 40%;
  height: 2rem;
}

header nav ul {
  margin: 7px 9px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  font-family: 'Poppins';
  font-size: 14px;
  text-transform: uppercase;
}

@-webkit-keyframes zoom-in-zoom-out {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
            transform: scale(1.5, 1.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.intro {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 14, 1, 0.555)), to(rgba(17, 19, 17, 0.644))), url(../images/crane.jpg);
  background-image: linear-gradient(rgba(34, 14, 1, 0.555), rgba(17, 19, 17, 0.644)), url(../images/crane.jpg);
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.intro .inner {
  position: relative;
  top: 40%;
  left: 25%;
  text-align: center;
  height: 4rem;
  width: 50%;
}

.intro .inner h2,
.intro .inner h4 {
  text-transform: uppercase;
  font-family: 'Poppins';
  letter-spacing: 3;
  margin: 3px;
  font-weight: normal;
  color: white;
}

.intro .inner h2 {
  font-size: 24px;
}

.intro .inner h4 {
  font-size: 18px;
}

.second {
  width: 100%;
  height: 70vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin-top: 8rem;
}

.second .second-carrier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px;
  text-align: left;
}

.second .second-carrier h4,
.second .second-carrier h2 {
  font-family: 'Poppins';
}

.second .second-carrier h2 {
  font-size: 20px;
  margin-top: 10px;
}

.second .second-carrier h4 {
  color: red;
  text-transform: uppercase;
  font-size: 14px;
}

.second .second-carrier .parag {
  text-align: justify;
  font-size: 18px;
  height: 78%;
  margin-top: 20px;
  width: 80%;
  font-family: 'Poppins';
}

.second .second-carrier .parag .first {
  width: 98%;
  margin-top: 10px;
  padding: 3px;
}

.second img {
  border-radius: 40px;
  height: 75vh;
  width: 50%;
  margin-right: 50px;
}

.services {
  width: 100%;
  height: 85vh;
  margin-top: 20rem;
  text-align: center;
  font-family: 'Poppins';
}

.services h2 {
  font-size: 18px;
}

.services p {
  font-size: 16px;
}

.services .servCtn {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 60%;
  width: 90%;
  margin: 60px 60px;
}

.services .servBtn {
  font-size: 14px;
  font-family: 'Poppins';
  color: white;
  border-radius: 4px;
  padding: 10px 25px;
}

.contact {
  height: 50vh;
  width: 100%;
  margin-top: 9rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(72, 54, 45, 0.644)), to(rgba(5, 2, 0, 0.863))), url(../images/room.jpg);
  background-image: linear-gradient(rgba(72, 54, 45, 0.644), rgba(5, 2, 0, 0.863)), url(../images/room.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.contact .content {
  position: relative;
  top: 35%;
  font-family: 'Poppins';
  color: white;
}

.contact .content h3 {
  font-size: 18px;
  font-weight: normal;
}

.contact .content p {
  font-size: 16px;
  margin-top: 20px;
}

@media screen and (max-width: 480px) and (orientation: portrait) {
  header nav {
    display: none;
  }
  .intro {
    height: 45vh;
  }
  .intro .inner {
    height: 20px;
    padding: 0;
    border: 0;
    width: 80%;
    left: 10%;
  }
  .intro .inner h2 {
    font-size: 14px;
  }
  .intro .inner h4 {
    font-size: 13px;
  }
  .second {
    padding: 0;
    margin-top: 40px;
    text-align: center;
  }
  .second img {
    display: none;
  }
  .second .second-carrier {
    text-align: center;
  }
  .second .second-carrier h4 {
    font-size: 12px;
  }
  .second .second-carrier h2 {
    font-size: 15px;
  }
  .second .second-carrier .parag {
    width: 100%;
    text-align: justify;
  }
  .second .second-carrier .parag .first {
    margin: 0;
    font-size: 12px;
  }
  .services {
    margin-top: 7rem;
    height: 110vh;
  }
  .services h2 {
    -webkit-text-decoration: underline 2px solid #005a9c;
            text-decoration: underline 2px solid #005a9c;
    text-transform: uppercase;
    font-size: 12px;
  }
  .services p {
    margin-top: -12px;
    font-size: 14px;
    padding: 12px;
  }
  .services .servCtn {
    margin: 10px 0 0 22px;
  }
  .services .servCtn .imageSlider {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .services .servCtn .imageSlider .display-right {
    left: 82%;
    background-color: black;
    color: white;
  }
  .services .servCtn .imageSlider .display-left {
    left: 10%;
    background-color: black;
    color: white;
  }
  .services .servCtn .imageSlider .slides .center-text {
    font-size: 12px;
    padding: 7px;
    bottom: 65px;
    font-weight: normal;
  }
  .services .servBtn {
    margin-top: 2%;
    font-size: 10px;
  }
  .contact {
    margin-top: 10%;
  }
  .contact .content {
    text-align: center;
  }
  .contact .content h3 {
    font-size: 14px;
  }
  .contact .content p {
    font-size: 13px;
  }
}

@media screen and (max-width: 480px) and (orientation: landscape) {
  header nav {
    display: none;
  }
  .intro {
    height: 45vh;
  }
  .intro .inner {
    height: 20px;
    padding: 0;
    border: 0;
    width: 80%;
    left: 10%;
  }
  .intro .inner h2 {
    font-size: 14px;
  }
  .intro .inner h4 {
    font-size: 13px;
  }
  .second {
    padding: 0;
    margin-top: 40px;
    text-align: center;
  }
  .second img {
    display: none;
  }
  .second .second-carrier {
    text-align: center;
  }
  .second .second-carrier h4 {
    font-size: 12px;
  }
  .second .second-carrier h2 {
    font-size: 15px;
  }
  .second .second-carrier .parag {
    width: 100%;
    text-align: justify;
  }
  .second .second-carrier .parag .first {
    margin: 0;
    font-size: 12px;
  }
  .services {
    margin-top: 17rem;
    height: 110vh;
  }
  .services h2 {
    -webkit-text-decoration: underline 2px solid #005a9c;
            text-decoration: underline 2px solid #005a9c;
    text-transform: uppercase;
    font-size: 12px;
  }
  .services p {
    margin-top: -12px;
    font-size: 14px;
    padding: 12px;
  }
  .services .servCtn {
    margin: 10px 0 0 22px;
  }
  .services .servCtn .imageSlider {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .services .servCtn .imageSlider .display-right {
    left: 82%;
    background-color: black;
    color: white;
  }
  .services .servCtn .imageSlider .display-left {
    left: 10%;
    background-color: black;
    color: white;
  }
  .services .servCtn .imageSlider .slides .center-text {
    font-size: 12px;
    padding: 7px;
    bottom: 65px;
    font-weight: normal;
  }
  .services .servBtn {
    margin-top: 2%;
    font-size: 10px;
  }
  .contact {
    margin-top: 10%;
  }
  .contact .content {
    text-align: center;
  }
  .contact .content h3 {
    font-size: 14px;
  }
  .contact .content p {
    font-size: 13px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  header nav {
    display: none;
  }
  header nav ul {
    display: inline-block;
    text-align: center;
  }
  .intro {
    height: 44vh;
  }
  .intro .inner {
    height: 20px;
    padding: 0;
    width: 80%;
    left: 10%;
  }
  .intro .inner h2 {
    font-size: 14px;
  }
  .second .second-carrier {
    text-align: center;
  }
  .second .second-carrier h2 {
    font-size: 16px;
  }
  .second .second-carrier .parag {
    width: 100%;
    text-align: justify;
    font-size: 14px;
  }
  .second .second-carrier img {
    display: none;
  }
  .services {
    margin-top: 24rem;
    height: 140vh;
  }
  .services h2 {
    font-size: 17px;
  }
  .services p {
    font-size: 13px;
  }
  .services .servCtn {
    margin: 60px 0 0 5%;
  }
  .services .servCtn .imageSlider {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .services .servCtn .imageSlider .display-right {
    left: 85%;
  }
  .services .servCtn .imageSlider .display-left {
    left: 10%;
  }
  .services .servCtn .imageSlider .slides .center-text {
    font-size: 14px;
    padding: 7px;
    bottom: 65px;
    font-weight: normal;
  }
  .services .servBtn {
    position: relative;
    top: 5%;
  }
  .contact {
    margin-top: 6rem;
  }
  .contact .content h3 {
    font-size: 16px;
  }
  .contact .content p {
    font-size: 14px;
    text-align: justify center;
  }
}

@media screen and (max-width: 320px) {
  .intro .inner h4 {
    font-size: 13px;
  }
  .intro .inner h2 {
    font-size: 14px;
  }
  .services {
    margin-top: 10rem;
  }
  .services .servCtn {
    margin: 15px 0 0 15px;
  }
  .services .servCtn .imageSlider {
    margin: 0;
  }
  .services .servCtn .imageSlider .display-right {
    left: 80%;
  }
  .services .servCtn .imageSlider .slides {
    height: 70%;
  }
  .contact {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  header nav {
    display: none;
  }
  .intro .inner h4 {
    font-size: 14px;
  }
  .intro .inner h2 {
    font-size: 16px;
  }
  .second .second-carrier {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: justify;
  }
  .second .second-carrier h2 {
    font-size: 14px;
  }
  .second .second-carrier .parag {
    font-size: 12px;
    text-align: justify;
  }
  .second .second-carrier img {
    margin-right: 30px;
    margin-top: 13%;
  }
  .services {
    margin-top: 30rem;
  }
  .services .servCtn {
    background: #000;
    margin: 60px 20px 20px 5%;
    height: 85vh;
  }
  .services .servCtn .imageSlider {
    margin: 0;
  }
  .services .servCtn .imageSlider .slides .center-text {
    bottom: 70px;
  }
  .services .servCtn .imageSlider .display-right {
    left: 87%;
  }
  .services .servCtn .imageSlider .display-left {
    left: 10%;
  }
  .contact {
    margin-top: 20rem;
  }
}

@media screen and (max-width: 247px) {
  .services {
    margin-top: 19rem;
  }
}
/*# sourceMappingURL=style.css.map */