@import "./_variables";
@import "./_helper";


header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    width: 100%;
    background-color: $primary;

    .logo {
        h1 {
            font-family: 'Poppins';
            font-weight: bold;
            font-size: 18px;
        }
    }

    nav {
        width: 40%;
        height: 2rem;

        ul {
            margin: 7px 9px;
            width: auto;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            li {
                list-style: none;

                a {
                    font-family: 'Poppins';
                    font-size: 14px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.intro {
    background-image: linear-gradient(rgba(34, 14, 1, 0.555), rgba(17, 19, 17, 0.644)), url(../images/crane.jpg);
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;

    @keyframes zoom-in-zoom-out{
        0%{
            transform: scale(1, 1);
        }

        50%{
            transform: scale(1.5, 1.5);
        }

        100%{
            transform: scale(1 ,1);
        }
    }
    .inner {
        position: relative;
        top: 40%;
        left: 25%;
        text-align: center;
        height: 4rem;
        width: 50%;

        h2,
        h4 {
            
            font-family: 'Poppins';
            letter-spacing: 3;
            margin: 3px;
            font-weight: normal;
            color: $primary;
        }

        h2 {animation: zoom-in-zoom-out 6s ease infinite;
            font-size: 24px;
        }

        h4 {
            font-size: 18px;
        }
    }
}

.second {
    width: 100%;
    height: 70vh;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 8rem;

    .second-carrier {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px;
        text-align: left;

        h4,
        h2 {
            font-family: 'Poppins';
        }

        h2 {
            margin-top: 10px;
        }

        h4 {
            color: $btn;
            text-transform: uppercase;
            font-size: 14px;
        }

        .parag {
            height: 78%;
            margin-top: 20px;
            width: 80%;
            font-family: 'Poppins';


            .first {
                width: 98%;
                margin-top: 10px;
                padding: 3px;
            }
        }

    }

    img {
        border-radius: 40px;
        height: 75vh;
        width: 50%;
        margin-right: 50px;
    }
}

.services {
    width: 100%;
    height: 85vh;
    margin-top: 20rem;
    text-align: center;
    font-family: 'Poppins';
    h2 {
        font-size: 18px;
    }
    p{
        font-size: 16px;
    }

    .servCtn{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 60%;
        width: 90%;
        margin: 60px 60px;

        .box{
            background-color: $primary;
            height: 40vh;
            width: 16vw;
            color: black;
            p{
                text-align: center;
                font-size: 15px;
            }
            img{
                height: 30vh;
                width: 16vw;
            }

            // &:hover{
            //     cursor: pointer;
            //     height: 50vh;
            //     img{
            //         height: 40vh;
            //     }
            //     p{
            //         font-size: 18px;
            //     }
            // }
        }
    }
  .servBtn{
    font-size: 14px;
    font-family: 'Poppins';
            color: $primary;
            border-radius: 4px;
            padding: 10px 25px;
        }
}

.contact{
    height: 50vh;
    width: 100%;
    margin-top: 9rem;
    background-image: linear-gradient(hsla(20, 23%, 23%, 0.644), hsla(24, 100%, 1%, 0.863)), url(../images/room.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    .content{
        position: relative;
        top: 35%;
        font-family: 'Poppins';
        color: $primary;

        h3{
            font-size: 18px;
            font-weight: normal;
        }

        p{
            font-size: 16px;
            margin-top: 20px;
        }
    }

}

@media screen and (max-width:480px) {
    header{
        nav{
            display: none;
        }
    }
    .intro{
        height: 45vh;
        .inner{
            height: 20px;
            padding: 0;
            border: 0;
            width: 80%;
            left:10%;

            h2{
                font-size: 12px;
            }
        }
    }

    .second{
        padding: 0;
        margin-top: 40px;
        text-align: center;

        img{
            display:none;
        }

        .second-carrier{
            text-align: center;
            h4{
                font-size: 12px;
            }
            h2{
                font-size: 15px;
            }

            .parag{
                width: 100%;
                text-align: justify;
                .first{
                    margin: 0;
                    font-size: 12px;
                }
            }
        }
    }

    .services{

        position: relative;
        top: -4px;
        height: 110vh;
        h2{
            text-decoration: underline 2px solid $secondary;
            text-transform: uppercase;
            font-size: 12px;
        }
        p{
            margin-top: -12px;
            font-size: 14px;
            padding: 12px;
        }

        .servCtn{
            margin: 0 0 0 15px;
            justify-content: space-around;
            flex-wrap: wrap;
            .box{
                margin: 15px 0 0 0;               
                width:40vw;
                height: 40vh;
                p{
                    font-size: 12px;
                }
                img{
                    width:100%;
                }
            }
        }

        .servBtn{
            margin-top: 40%;
            font-size: 10px;
        }
    }

    .contact{

        margin-top:50%;
        .content{
            text-align: center;
            h3{
                font-size: 14px;
            }
            p{
                font-size: 13px;
            }
        }
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    header {

        nav {
            display: none;
            ul {
                display: inline-block;
                text-align: center;
            }
        }
    }

    .intro{
        height: 40vh;
        .inner{
            height: 20px;
            padding: 0;
            width: 80%;
            left:10%;

            h2{
                font-size: 14px;
            }
        }
    }

    .second{

        .second-carrier{
            text-align: center;

            h2{
                font-size: 16px;
            }
            .parag{
                width: 100%;
                text-align: justify;
                font-size: 14px;
            }

            img{
                display:none;
            }
        }
    }

    .services{
        h2{
            font-size: 17px;
        }
        p{
            font-size: 13px;
        }
        height:140vh;

        .servCtn{
            height: 60%;
            width: 100vw;
            margin: 0;
            margin-top: 34px;
            flex-wrap: wrap;
            .box{
                margin: 0 0 3px -10px;
                width: 40vw;
                p{
                    font-size: 14px;
                }
                img{
                    width:100%;
                }
            }
        }

        .servBtn{
            position: relative;
            top: 10%;
        }
    }

    .contact{
        margin-top: 6rem;
        .content{
            h3{
                font-size: 16px;
            }
            p{
                font-size: 14px;
                text-align: justify center;
            }
        }
    }
}