*, ::before,::after{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

@import './variable';



@media screen and (max-width:320px) {
header{
    padding: 9px 10px;
    height: 70px;
    width: 100%;
    background-color: rgb(197, 196, 197);
    position: sticky;
    top: 0;
    z-index: 999;

    .logo{
        text-decoration: 3px solid underline;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    nav{
        width: 90%;
        height: 75%;
        ul{
            margin-top: 4px;
            line-height:1;
            li{
                list-style: none;
                margin: 0 3px;
                a{
                    font-size: 12px;
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-weight: bolder;
                }
            }
        }
    }
}

.intro{
   height: 35vh;
   width: 100%;
   background-image: linear-gradient(rgba(46, 24, 3, 0.418), rgba(54, 17, 6, 0.493)),url(../images/crane.jpg);
   background-repeat: no-repeat;
   background-size: cover;
    background-position: right;

    .inner{
        position: relative;
        width: 100vw;
        height: 15vh;
        top: 35%;
        display: flex;
        font-family: 'Poppins';
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h4{
            font-size: 14px;
        }

        h2{
            font-size: 16px;
        }

        .btn{
            border-radius: 4px;
            padding: 3px 8px;
            background-color: $Btn;
            border: none;
            a{
                font-size: 12px;
                color: $whi;
                
            }
        }
    }
}
    .second{
        margin-top: 10px;
        height: 95vh;
        width: 100%;
        background: #000;
        .second-carrier{
            height: 50px;
            color: $whi;
            .words{
                h4{
                    font-size: 14px;
                }
                h2{
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }
            img{
                display: none;
            }
        }
    }
    .services{
        display: none;
}
}